*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    mix-blend-mode: difference;
}
h1{
    font-size: 8vw;
     text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);

}