* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: gray;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  text-shadow: 7px 7px 5px #302e2e;
}
